body{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 100px repeat(4,300px);
  grid-template-areas: 
  "header header header header header"
  "sidebar main main main main"
  "sidebar main main main main"
  "sidebar main main main main"
  "sidebar main main main main";
}
.gallery{
  background-color: #e2e2e2e2;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap:20px;
  justify-content: space-between;
}
header{
  grid-area:header;
}
aside{
 grid-area:sidebar;
}
main{
  grid-area:main;
}
.sub{
  position: relative;
  left: 45px;
  bottom:40px;
  text-transform: uppercase;
  font-weight: 80;
  
}
.logo{
  position: relative;

}
.videos{
  padding: -30px;
}